.hc1Container {
  padding: 10px;
}

.hc1CardContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 10px;
  min-width: 95%;
  border-radius: 15px;
  max-height: 80px;

}

#hc1Icon img{
  max-height: 50px;
  width: 50px;
}

#hc1Icon{
  margin: auto;
}