
.hc6CardContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 10px;
  min-width: 95%;
  max-height: 80px;
  border-radius: 15px;
}

#hc6ImgBx img {
  max-height: 50px;
  width: 50px;
}

#hc6ImgBx {
  margin: auto;
}
